


.scroll{
    position: absolute;
    right: 0;
    bottom: 0;
    
    width: 100px;
    height: 100px;
    position: fixed;
    
    
    a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        i{
            font-size: 3rem;
            width: 50px;
            height: 50px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
    }
}
