html{
    font-size: 62.5%;
}

:root{
    --font-family: Nunito sans, sans-serif;
    --box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    

}



body{
    font-size: var(--font-family);
}


h1{
    font-family: var(--font-family);
    font-weight: 700;
    color: black;
}

a{text-decoration: none;}


p{
    font-family: var(--font-family);
}



// .main {
//     margin: 0;
//     padding: 0;
//     @include flexbox-center;
//     flex-direction: column;
// }












