@media screen and (max-width: 500px) {
  header {
    .container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .header {
        width: 75%;
        display: flex;
        justify-content: center;
        a {
          h1 {
            font-size: 2rem;

            strong {
              font-size: 2rem;
            }
          }
        }
      }

      &-img {
        width: 25%;
      }
    }
  }

  .main {
    .localisation {
      width: 100%;
      height: 150px;

      &__icon {
        & > i {
          display: none;
        }
      }
    }

    .navigation {
      height: 100%;

      .nav {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }

    img {
      width: 100%;
      height: 75%;

      &__image {
        margin-top: 70px;
        margin-top: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .trucks {
      width: 100%;
      display: flex;
      justify-content: center;

      &__cards {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;

        .truck {
          width: 100%;
          display: flex;
          justify-content: center;

          &__card {
            width: 100%;
          }
        }
      }
    }
  }

  #horaires {
    .horaires {
      &__content {
        width: 70%;
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .mapping {
    &__container {
      width: 100%;
      height: 50%;
      background-color: red;

      .content {
        &__mapping {
          width: 100%;
          height: 100%;
          background-color: yellow;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// responsive medium

@media screen and (max-width: 1000px) {
  header {
    .container {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .header {
        width: 70%;
        display: flex;
        justify-content: center;
        a {
          h1 {
            font-size: 2rem;

            strong {
              font-size: 2rem;
            }
          }
        }
      }

      &-img {
        width: 15%;
      }
    }
  }

  .main {
    .localisation {
      width: 100%;
      height: 150px;

      &__icon {
        & > i {
          display: none;
        }
      }
    }

    .navigation {
      height: 100%;

      .nav {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }

    img {
      width: 100%;
      height: 75%;

      &__image {
        margin-top: 70px;
        margin-top: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .trucks {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        a {
          display: flex;
          justify-content: center;

          .truck {
            width: 100%;
            display: flex;
            justify-content: center;

            &__card {
              width: 70%;
            }
          }
        }
      }
    }
  }

  #horaires {
    .horaires {
      &__content {
        width: 70%;
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .mapping {
    &__container {
      width: 100%;
      height: 30vh;

      .content {
        &__mapping {
          width: 100%;
          height: 100%;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
